<!-- resources/templates/fragments/mediaplayer.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="mediaplayer">
    <nav class="mediaplayer">
        <ul>
            <li><button id="lastSong">Last Song</button></li>
            <li><button id="playPause">Play/Pause</button></li>
            <li><button id="nextSong">Next Song</button></li>
            <li><button id="progress">Progress Bar</button></li>
            <li><button id="volume">Volume</button></li>
        </ul>
    </nav>
</div>
</body>
</html>