<div th:fragment="songCard" class="song-card"
     th:attr="data-filename=${song.filename}, data-genre=${song.genreName}, data-title=${song.title}, data-song-id=${song.id}"
     th:style="|background-image: url('/images/album/${song.genreName}.jpg');|">

  <!-- Action buttons -->
  <button class="song-action-btn"
          th:if="${inPlaylist == true}"
          th:onclick="'location.href=\'/playlists/' + ${playlistId} + '/removeSong/' + ${song.id} + '\';'">
    –
  </button>

  <button class="song-action-btn"
          th:if="${inPlaylist == false or inPlaylist == null}"
          th:onclick="'openAddToPlaylistModal(' + ${song.id} + ');'">
    +
  </button>


  <div class="song-info">
    <h3 th:text="${song.title}">Song Title</h3>
    <p th:text="${song.artist}">Artist Name</p>
  </div>
</div>
