<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="topbar">
  <header class="topbar">
    <div class="title">
      <span class="logo">Groovify</span>
    </div>
    <div class="current_page">
      <span class="page-title" th:text="${pageTitle}">Home</span>
    </div>
    <div class="profile">
      <a th:href="@{/profile}" class="profile-circle">
        <img th:src="@{/images/default.jpg}"
             alt="Profile Picture">
      </a>
    </div>
  </header>
</div>
</body>
</html>