<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="topbar">
  <header class="topbar">
    <div class="title">
      <span class="logo">Groovify</span>
    </div>
    <div class="current_page">
      <span class="page-title" th:text="${pageTitle != null ? pageTitle : 'Home'}">Home</span>
    </div>
    <div class="profile">
      <!-- Profile circle -->
      <div class="profile-circle" id="profileCircle">
        <img th:src="@{/images/profile/{img}(img=${user != null ? user.imageFileName : 'Fishing.jpg'})}"
             alt="Profile Picture">
      </div>

      <!-- Dropdown box -->
      <div id="profileDropdown" class="profile-dropdown" style="display:none;">
        <!-- Use Thymeleaf to generate the correct URL -->
        <a th:href="@{/profile}">
          <button id="editProfileBtn" type="button">Edit Profile</button>
        </a>
        <button id="logoutTopbarBtn" type="button">Logout</button>
      </div>
    </div>
  </header>
</div>
</body>
</html>