<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="topbar">
  <header class="topbar">
    <div class="title">
      <span class="logo">Groovify</span>
    </div>
    <div class="current_page">
      <span class="page-title" th:text="${pageTitle != null ? pageTitle : 'Home'}">Home</span>
    </div>
    <div class="profile">
      <a th:href="@{/profile}" class="profile-circle">
        <!-- Use the user object passed in the model -->
        <img th:src="@{/images/{img}(img=${user != null ? user.imageFileName : 'default.jpg'})}"
             alt="Profile Picture">
      </a>
    </div>
  </header>
</div>
</body>
</html>