body {
    background-color: #1A2037; /* dark blue */
    color: white; /* default text color */
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 80px;  /* push content below topbar (60px height + 20px spacing) */
    padding-bottom: 80px; /* push content above bottom navbar */
}


/* Popup modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

#createPlaylistBtn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #1db954;
    color: white;
    border: none;
    cursor: pointer;
}

#createPlaylistBtn:hover {
    background-color: #1ed760;
}

#playlistForm input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
}

#playlistForm button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #1db954;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#playlistForm button:hover {
    background-color: #1ed760;
}