<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groovify – Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/topbar.css}">
    <link rel="icon" type="image/png" sizes="64x64" href="../images/logo.png">
</head>
<body>

<!-- Topbar fragment -->
<div th:replace="fragments/topbar :: topbar" th:with="pageTitle='Home'"></div>

<script th:src="@{/js/topbar.js}"></script>
<!-- Include Navbar Fragment -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- Shared session timeout script -->
<div th:replace="fragments/session :: sessionTimeoutScripts"></div>


<!-- Navbar JS -->
<script th:src="@{/js/navbar.js}"></script>

</body>
</html>