<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Groovify – Playlists</title>
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link rel="stylesheet" th:href="@{/css/playlists.css}">
  <link rel="stylesheet" th:href="@{/css/playlistCard.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/topbar.css}">
  <link rel="stylesheet" th:href="@{/css/mediaplayer.css}">
    <link rel="icon" type="image/png" sizes="64x64" href="../images/logo.png">
</head>
<body>

<!-- Topbar fragment -->
<div th:replace="fragments/topbar :: topbar" th:with="pageTitle='playlists'"></div>

<div id="buttonHolder">
  <button id="createPlaylistBtn">Create Playlist</button>
</div>

<!-- Create Playlist Modal -->
<div id="playlistModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Create New Playlist</h2>
    <form id="playlistForm" th:action="@{/playlists/create}" method="post">
      <input type="text" name="name" placeholder="Playlist Name" required>
      <textarea name="description" placeholder="Playlist Description" rows="3"></textarea>
      <button type="submit">Create</button>
    </form>
  </div>
</div>


<div id="playlistHolder" class="playlists-container">
  <div th:each="playlist : ${playlists}">
    <div th:replace="fragments/playlistFragment :: playlistCard" th:with="playlist=${playlist}"></div>
  </div>
</div>

<!-- Audio element -->
<audio id="player"></audio>

<!-- Mediaplayer fragment -->
<div th:replace="fragments/mediaplayer :: mediaplayer"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- JS scripts -->
<script th:src="@{/js/mediaplayer.js}"></script>
<script th:src="@{/js/topbar.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/playlists.js}"></script>
<div th:replace="fragments/session :: sessionTimeoutScripts"></div>

</body>
</html>