<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groovify – Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body th:style="'background-image: url(/images/' + ${user.getImageFileName()} + ');'">

<!-- Groovify Text at Top -->
<header>
    <h1>Groovify</h1>
</header>

<section class="profile-info">
    <form th:action="@{/profile/update}" method="post" id="profileForm">
        <input type="hidden" th:value="${user.id}" name="id">

        <!-- Profile Picture -->
        <img id="profilePic" th:src="@{/images/{img}(img=${user.getImageFileName()})}"
             alt="Profile Picture" class="profile-picture"><br><br>

        <!-- Hidden input to store selected image filename -->
        <input type="hidden" name="image_file_name" id="imageFileName" th:value="${user.getImageFileName()}">

        <!-- Scrollable image gallery -->
        <div id="imageGallery" class="image-gallery" style="display:none;">
            <img src="/images/Sunset.jpg" class="selectable-img">
            <img src="/images/Forest.jpg" class="selectable-img">
            <img src="/images/Universe.jpg" class="selectable-img">
            <img src="/images/Concert.jpg" class="selectable-img">
            <img src="/images/City.jpg" class="selectable-img">
            <img src="/images/Mountains.jpg" class="selectable-img">
            <img src="/images/Fishing.jpg" class="selectable-img">
        </div>

        <label>Username:</label>
        <input type="text" th:value="${user.name}" name="name" readonly><br><br>

        <label>Description:</label>
        <textarea name="description" rows="3" cols="30" th:text="${user.description}" readonly></textarea><br><br>

        <!-- New 3-button layout -->
        <div class="button-group">
            <button type="button" id="preferencesBtn">Preferences</button>
            <button type="button" id="editBtn">Edit</button>
            <button type="button" class="logout-btn" onclick="window.location.href='/logout'">Logout</button>
        </div>

        <!-- Save/Cancel still hidden for editing -->
        <div class="edit-controls">
            <button type="submit" id="saveBtn" style="display:none;">Save</button>
            <button type="button" id="cancelBtn" style="display:none;">Cancel</button>
        </div>
    </form>
</section>
<!-- Only Navbar -->
<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="fragments/session :: sessionTimeoutScripts"></div>

<!-- JS -->
<script th:src="@{/js/profile.js}"></script>

</body>
</html>