<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session Timed Out</title>
    <link rel="stylesheet" th:href="@{/css/sessionTimedOut.css}">
    <link rel="icon" type="image/png" sizes="64x64" href="../images/logo.png">
</head>
<body>
<div class="timeout-box">
    <h1>Session Timed Out</h1>
    <p>Your session has expired due to inactivity.</p>
    <form th:action="@{/}" method="get">
        <button type="submit" class="btn">Return to Login</button>
    </form>
</div>
</body>
</html>


