<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Groovify – Songs</title>

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link rel="stylesheet" th:href="@{/css/songs.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/topbar.css}">
  <link rel="stylesheet" th:href="@{/css/songCard.css}">
  <link rel="stylesheet" th:href="@{/css/mediaplayer.css}">
</head>
<body>

<!-- Topbar Fragment -->
<div th:replace="~{fragments/topbar :: topbar}" th:with="pageTitle='Songs'"></div>

<!-- Songs Container -->
<div id="songHolder" class="songs-container with-top-spacing">
  <div th:each="song : ${songList}">
    <div th:replace="~{fragments/songFragment :: songCard}" th:with="song=${song}"></div>
  </div>
</div>

<!-- Audio Player -->
<audio id="player"></audio>

<!-- Add to Playlist Modal -->
<div id="addToPlaylistModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closeAddToPlaylistModal()">&times;</span>
        <h3>Select a Playlist</h3>
        <ul id="playlistList">
            <li th:each="playlist : ${playlists}">
                <a href="#" th:text="${playlist.name}"
                   th:attr="data-playlist-id=${playlist.id}"
                   onclick="addSongToPlaylist(event, this)">Select</a>
            </li>
        </ul>
    </div>
</div>

<!-- Fragments -->
<div th:replace="~{fragments/mediaplayer :: mediaplayer}"></div>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/session :: sessionTimeoutScripts}"></div>

<!-- JS Scripts -->
<script th:src="@{/js/mediaplayer.js}"></script>
<script th:src="@{/js/topbar.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/addRemoveSong.js}"></script>

</body>
</html>
